<?xml version="1.0" ?>
<module>

  <Welcome f="nodata">
    <Welcome>
      <Logo t="webview" f="nolabel">
        <!--
        <markdown>
          <p>This module was created for the The Tundzha Regional Archaeological Project, based at Macquarie University, Sydney, Australia. The module has been designed to document the current condition and an exact location of burial mounds by broader community in Bulgaria. This module is designed to foster awareness of and community engagement in monitoring cultural heritage in Bulgaria.</p>
          ![](files/data/gallery/Front_Page_And_Icon/Mound.jpg)
        </markdown>
      -->
      </Logo>
      <Start t="button" l="Login/Manual"/>
    </Welcome>
  </Welcome>

  <Login f="nodata">
    <Login>
      <Users t="dropdown" f="user nocertainty noannotation"/>
      <Log_in  t="button" ll="Start"/>
      <Sign_up t="button" l="signup"/>
    </Login>
    <Manual>
      <Manual t="webview" f="nolabel">
        <!--
        <markdown>
          ![](files/data/guide/MoundsCommunityManual.html)
        </markdown>
      -->
      </Manual>
      <Go_to_Login_Tab t="button" l="Login/Login"/>
    </Manual>
  </Login>

  <Start f="nodata">
    <Start f="noscroll">
      <Record_New_Mound t="button" f="nocertainty noannotation" l="Mound"/>
      <autonum/>
      <My_Last_3_Records t="list">
      </My_Last_3_Records>
    </Start>
    <search/>
    <Map f="noscroll">
      <Map t="map"/>
    </Map>
  </Start>

  <Mound>
    <Mound_Admin>
      <Validate t="button"/>
      <author f="id nocertainty noannotation">
        <str>
          <pos>3</pos>
          <fmt>$0</fmt>
        </str>
      </author>
      <timestamp f="nocertainty noannotation"/>
      <Mound_ID f="id nocertainty noannotation autonum readonly">
        <str>
          <pos>1</pos>
          <fmt>$0-</fmt>
        </str>
      </Mound_ID>
      <Mound_Name f="id">
        <str>
          <pos>2</pos>
          <fmt>$0-</fmt>
        </str>
      </Mound_Name>
      <gps f="notnull"/>
      <Description_of_mound_or_location/>
      <cols>
        <col>
          <Height_Max b="decimal" f="notnull">
            Height Max (m)
          </Height_Max>
          <Diameter_Max   b="decimal" f="notnull">
            Diameter Max (m)
            <desc>
              The longest axis in the diameter
            </desc>
          </Diameter_Max>
        </col>
        <col>
          <Height_Min b="decimal">
            Height Min (m)
          </Height_Min>
          <Diameter_Min   b="decimal">
            Diameter Min (m)
            <desc>
              The shorter axis in diameter, if mound ellipsoid
            </desc>
          </Diameter_Min>
        </col>
      </cols>
      <Width b="decimal">
        Width (m)
        <desc>The shorter axis in diameter, if mound ellipsoid</desc>
      </Width>
      <Image t="camera"/>
    </Mound_Admin>
    <Condition>
      <Landuse_around_Mound t="picture" f="notnull htmldesc">
        <desc><![CDATA[
          <i>Description:</i>
          <br>
          <div>
              <p>Landuse around the mound. Choose the majority landuse.</p>
              <hr/>
          </div>
        ]]></desc>
        <opts>
          <opt p="gallery/Around_Landuse/Agr_Seedling_9063_Overview_NW01.JPG">
            Annual agriculture
            <desc><![CDATA[
              <div>
                <div>
                  <p>Annual agriculture</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Agr_Seedling_9063_Overview_NW01.JPG" alt="files/data/gallery/Around_Landuse/Agr_Seedling_9063_Overview_NW01.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Agr_Seedling_9078_Overview_NW01.JPG" alt="files/data/gallery/Around_Landuse/Agr_Seedling_9078_Overview_NW01.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Agr_Harrowed_9058_Overview_SE01.JPG" alt="files/data/gallery/Around_Landuse/Agr_Harrowed_9058_Overview_SE01.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Agr_Harrowed_9080_Overview_SE01.JPG" alt="files/data/gallery/Around_Landuse/Agr_Harrowed_9080_Overview_SE01.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Agr_Ploughed_9158_Overview_S.JPG" alt="files/data/gallery/Around_Landuse/Agr_Ploughed_9158_Overview_S.JPG"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
          <opt p="gallery/Around_Landuse/Perennial_Roses.JPG">
            Perennial agriculture (e.g orchard or vineyard)
            <desc><![CDATA[
              <div>
                <div>
                  <p>Perennial agriculture (e.g orchard or vineyard)</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Perennial_Roses.JPG" alt="files/data/gallery/Around_Landuse/Perennial_Roses.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Perennial_Lavender.JPG" alt="files/data/gallery/Around_Landuse/Perennial_Lavender.JPG"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
          <opt p="gallery/Around_Landuse/Pasture_9138_Overview_S01.JPG">
            Pasture (grassland)
            <desc><![CDATA[
              <div>
                <div>
                  <p>Pasture (grassland)</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Pasture_9138_Overview_S01.JPG" alt="files/data/gallery/Around_Landuse/Pasture_9138_Overview_S01.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Pasture_9138_Detail_E_W_Direction.JPG" alt="files/data/gallery/Around_Landuse/Pasture_9138_Detail_E_W_Direction.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Pasture_9104_Overview_S.JPG" alt="files/data/gallery/Around_Landuse/Pasture_9104_Overview_S.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Pasture_9094_Overview_S.JPG" alt="files/data/gallery/Around_Landuse/Pasture_9094_Overview_S.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Pasture_9066_Overview_W01.JPG" alt="files/data/gallery/Around_Landuse/Pasture_9066_Overview_W01.JPG"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
          <opt p="gallery/Around_Landuse/Scrub_9155_Overview_E01.JPG">
            Scrub
            <desc><![CDATA[
              <div>
                <div>
                  <p>Scrub</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Scrub_9155_Overview_E01.JPG" alt="files/data/gallery/Around_Landuse/Scrub_9155_Overview_E01.JPG"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
          <opt p="gallery/Around_Landuse/Forest_3097_Overview_W_2.JPG">
            Forest
            <desc><![CDATA[
              <div>
                <div>
                  <p>Forest</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Forest_3097_Overview_W_2.JPG" alt="files/data/gallery/Around_Landuse/Forest_3097_Overview_W_2.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Forest_3111_Overview_N_2.JPG" alt="files/data/gallery/Around_Landuse/Forest_3111_Overview_N_2.JPG"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
          <opt p="gallery/Around_Landuse/Urban.JPG">
            Urban (in a settlement or surrounded by infrastructure)
            <desc><![CDATA[
              <div>
                <div>
                  <p>Urban (in a settlement or surrounded by infrastructure)</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Urban.JPG" alt="files/data/gallery/Around_Landuse/Urban.JPG"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
          <opt p="gallery/Around_Landuse/Other_3276_Overview01_N.JPG">
            Other (explain in notes)
            <desc><![CDATA[
              <div>
                <div>
                  <p>Other (explain in notes)</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Other_3276_Overview01_N.JPG" alt="files/data/gallery/Top_Landuse/Other_3276_Overview01_N.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Around_Landuse/Other_Scrub_2102_Overview_S01.JPG" alt="files/data/gallery/Top_Landuse/Other_Scrub_2102_Overview_S01.JPG"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
        </opts>
      </Landuse_around_Mound>
      <Landuse_on_top_of_Mound t="picture" f="notnull htmldesc">
        <desc><![CDATA[
          <i>Description:</i>
          <br>
          <div>
              <p>Landuse on top of mound. Choose majority.</p>
              <hr/>
          </div>
        ]]></desc>
        <opts>
          <opt p="gallery/Top_Landuse/Agr_6015_Overview_N.jpg">
            Annual agriculture
            <desc><![CDATA[
              <div>
                <div>
                  <p>Annual agriculture</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Agr_6015_Overview_N.jpg" alt="files/data/gallery/Top_Landuse/Agr_6015_Overview_N.jpg"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Agr_7012_Overview_1.JPG" alt="files/data/gallery/Top_Landuse/Agr_7012_Overview_1.JPG"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
          <opt p="gallery/Top_Landuse/Perennial_9072_Overview_S01.JPG">
            Perennial agriculture (e.g orchard or vineyard)
            <desc><![CDATA[
              <div>
                <div>
                  <p>Perennial agriculture (e.g orchard or vineyard)</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Perennial_9072_Overview_S01.JPG" alt="files/data/gallery/Top_Landuse/Perennial_9072_Overview_S01.JPG"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
          <opt p="gallery/Top_Landuse/Grassland_3315_Overview_S.JPG">
            Pasture (grassland)
            <desc><![CDATA[
              <div>
                <div>
                  <p>Pasture (grassland)</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Grassland_3315_Overview_S.JPG" alt="files/data/gallery/Top_Landuse/Grassland_3315_Overview_S.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Grassland_3299_Overview_NE.dng" alt="files/data/gallery/Top_Landuse/Grassland_3299_Overview_NE.dng"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Grassland_3208_Overview_W.JPG" alt="files/data/gallery/Top_Landuse/Grassland_3208_Overview_W.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Grassland_2081_Overview.dng" alt="files/data/gallery/Top_Landuse/Grassland_2081_Overview.dng"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
          <opt p="gallery/Top_Landuse/Scrub_2099_Overview_W02.JPG">
            Scrub
            <desc><![CDATA[
              <div>
                <div>
                  <p>Scrub</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Scrub_2099_Overview_W02.JPG" alt="files/data/gallery/Top_Landuse/Scrub_2099_Overview_W02.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Scrub_2013_Overview_E.JPG" alt="files/data/gallery/Top_Landuse/Scrub_2013_Overview_E.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Scrub_3253_Overview_S.dng" alt="files/data/gallery/Top_Landuse/Scrub_3253_Overview_S.dng"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Scrub_6019_Overview_E.jpg" alt="files/data/gallery/Top_Landuse/Scrub_6019_Overview_E.jpg"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
          <opt p="gallery/Top_Landuse/Forest_3267_Overview_W02.dng">
            Forest
            <desc><![CDATA[
              <div>
                <div>
                  <p>Forest</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Forest_3267_Overview_W02.dng" alt="files/data/gallery/Top_Landuse/Forest_3267_Overview_W02.dng"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Forest_3410_Overview_W.JPG" alt="files/data/gallery/Top_Landuse/Forest_3410_Overview_W.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Forest_3111_Overview_N_2.JPG" alt="files/data/gallery/Top_Landuse/Forest_3111_Overview_N_2.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Forest_3097_Overview_W_2.JPG" alt="files/data/gallery/Top_Landuse/Forest_3097_Overview_W_2.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Forest_3051_Overview_S.dng" alt="files/data/gallery/Top_Landuse/Forest_3051_Overview_S.dng"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
          <opt p="gallery/Top_Landuse/Urban.JPG">
            Urban (in a settlement or surrounded by infrastructure)
            <desc><![CDATA[
              <div>
                <div>
                  <p>Urban (in a settlement or surrounded by infrastructure)</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Urban.JPG" alt="files/data/gallery/Top_Landuse/Urban.JPG"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
          <opt p="gallery/Top_Landuse/Other_3276_Overview01_N.JPG">
            Other (explain in notes)
            <desc><![CDATA[
              <div>
                <div>
                  <p>Other (explain in notes)</p>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Other_3276_Overview01_N.JPG" alt="files/data/gallery/Top_Landuse/Other_3276_Overview01_N.JPG"/>
                </div>
                <div>
                  <img style="width:100%" src="files/data/gallery/Top_Landuse/Other_Scrub_2102_Overview_S01.JPG" alt="files/data/gallery/Top_Landuse/Other_Scrub_2102_Overview_S01.JPG"/>
                </div>
                <hr/>
              </div>
            ]]></desc>
          </opt>
        </opts>
      </Landuse_on_top_of_Mound>
      <Notes_on_shape_and_dimension/>
      <Condition t="dropdown" f="notnull">
        <desc>What effect has the looting or other damage had on the archaeological potential of the mound, on scale 1 pristine - 5 extinct mound</desc>
        <opts>
          <opt>
            0 - No observation
          </opt>
          <opt>
            1 - pristine (only superficial or minor damage)
          </opt>
          <opt>
            2 - partially damaged
          </opt>
          <opt>
            3 - damaged (up to 50% volume missing or archaeological potential compromised)
          </opt>
          <opt>
            4 - seriously damaged ( archaeological potential seriously compromised)
          </opt>
          <opt>
            5 - near extinct
          </opt>
        </opts>
      </Condition>
      <Source_of_Impact t="dropdown">
        <opts>
          <opt>
            Not available
          </opt>
          <opt>
            Agriculture
          </opt>
          <opt>
            Looting
          </opt>
          <opt>
            Infrastructure (road on or next to mound)
          </opt>
          <opt>
            Development (city growth, road building)
          </opt>
          <opt>
            Other (specify in an annotation, please)
          </opt>
        </opts>
      </Source_of_Impact>
      <Robbers_trenches t="checkbox">
        Robber's trenches?
        <opts>
          <opt>
            Random
          </opt>
          <opt>
            Rectilinear
          </opt>
          <opt>
            Variable shapes
          </opt>
          <opt>
            None present
          </opt>
          <opt>
            Other (specify in annotation)
          </opt>
        </opts>
      </Robbers_trenches>
      <Notes_on_Condition>
        <desc>Take a detailed picture of any interesting phenomena on the mound (e.g. Robber's trenches or associated cultural material)</desc>
      </Notes_on_Condition>
      <Detail_photo t="camera"/>
      <Associated_material t="checkbox">
        <desc>Document material you found on the mound, use annotation and Detail photo (with scale) for additional info.</desc>
        <opts>
          <opt>
            Fineware pottery
          </opt>
          <opt>
            Coarseware pottery
          </opt>
          <opt>
            Flaked lithic
          </opt>
          <opt>
            Ground lithic
          </opt>
          <opt>
            Architectural ceramics or building materials
          </opt>
          <opt>
            Construction stone
          </opt>
          <opt>
            Other
          </opt>
        </opts>
      </Associated_material>
      <Associated_features>
        <desc>Describe any standing features directly associated with the mound, such as a krepis, enclosure wall, later constructions, etc. List dimensions with each feature or document with images.</desc>
      </Associated_features>
    </Condition>
  </Mound>

  <logic><![CDATA[
    <!--@SOURCE: logic/custom-search.bsh-->
    <!--@SOURCE: logic/custom-selectUser.bsh-->
    <!--@SOURCE: logic/show-last-three-records-by-user.bsh-->
    <!--@SOURCE: logic/webview-population.bsh-->
    <!--@SOURCE: logic/custom-location-for-validation-button.bsh-->
  ]]></logic>
</module>
