<?xml version="1.0" ?>
<module>
  <Login f="nodata">
    <Login>
      <Users t="dropdown" f="user nocertainty noannotation"/>
      <Log_in  t="button" ll="Control"/>
      <Sign_up t="button" l="signup"/>
    </Login>
  </Login>
  <Control f="nodata">
    <Control f="noscroll">
      <Record_New_Mound t="button" f="nocertainty noannotation" l="Mound"/>
      <autonum/>
    </Control>
    <search/>
  </Control>
  <Mound>
    <Mound_Admin>
      <author f="id nocertainty noannotation">
        <str>
          <pos>3</pos>
          <fmt>$0</fmt>
        </str>
      </author>
      <timestamp f="nocertainty noannotation"/>
      <Mound_ID f="id nocertainty noannotation autonum readonly">
        <str>
          <pos>1</pos>
          <fmt>$0- </fmt>
        </str>
      </Mound_ID>
      <Mound_Name f="id">
        <str>
          <pos>2</pos>
          <fmt>$0- </fmt>
        </str>
      </Mound_Name>
      <gps/>
      <Description_of_mound_or_location/>
      <Maximum_Height_in_m b="decimal">
        Maximum Height (m)
      </Maximum_Height_in_m>
      <Minimum_Height_in_m b="decimal">
        Minimum Height (m)
      </Minimum_Height_in_m>
      <Length b="decimal">
        <desc>The longest axis in the diameter</desc>
      </Length>
      <Width b="decimal">
        <desc>The shorter axis in diameter, if mound ellipsoid</desc>
      </Width>
      <Image t="camera"/>
    </Mound_Admin>
    <Condition>
      <Landuse_around_Mound t="picture">
        <desc>Landuse around the mound. Choose the majority landuse.</desc>
      </Landuse_around_Mound>
      <Landuse_on_top_of_Mound t="picture">
        <desc>Landuse on top of mound. Choose majority.</desc>
      </Landuse_on_top_of_Mound>
      <Notes_on_shape_and_dimension/>
      <Condition t="dropdown">
        <desc>What effect has the looting or other damage had on the archaeological potential of the mound, on scale 1 pristine - 5 extinct mound</desc>
      </Condition>
      <Source_of_Impact t="dropdown">
      </Source_of_Impact>
      <Robbers_trenches t="checkbox">
        Robber's trenches?
      </Robbers_trenches>
      <Notes_on_Condition>
        <desc>Take a detailed picture of any interesting phenomena on the mound (e.g. Robber's trenches or associated cultural material)</desc>
      </Notes_on_Condition>
      <Detail_photo t="camera"/>
      <Associated_material t="checkbox">
        <desc>Document material you found on the mound, use annotation and Detail photo (with scale) for additional info.</desc>
      </Associated_material>
      <Associated_features>
        <desc>Describe any standing features directly associated with the mound, such as a krepis, enclosure wall, later constructions, etc. List dimensions with each feature or document with images.</desc>
      </Associated_features>
    </Condition>
  </Mound>
</module>
